# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.playground

# Benutzerspezifische Xcode-Einstellungen (ganz wichtig!)
#
xcuserdata/
*.xcuserstate
project.xcworkspace/
xcshareddata/

# macOS
#
.DS_Store
*.swp
*.lock

# Apple II Tooling (Falls b2d/cadius temporäre Dateien erzeugen)
*.tmp
*.temp
